/* import hero font */

@font-face {
  font-family: "Hero";
  src:url('../assets/Fonts/Hero/Hero.otf');
  font-style: normal;
}

@font-face {
  font-family: "Hero";
  src:url('../assets/Fonts/Hero/Hero.otf');
  font-weight: lighter;
}

*{
  font-family: 'Hero', Quicksand, sans-serif;
}

body {
  height: 100%;
  background-color: rgba(239,239,208,1);
  background-image: url("../assets/Paper_Texture.jpg");
  background-size:cover;
  background-blend-mode: overlay;
  background-position: center;
  font-family: 'Hero', Quicksand, sans-serif;
}

/* Style the side navigation */
nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #408cff;
    overflow-x: hidden;
}


/* Side navigation links */
nav a {
    font-family: 'Hero', Quicksand, sans-serif;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
nav a:hover {
    background-color: #f7c59f;
    color: #0a4194;
}

/* Change the size and alignment of the logo */
nav img{
  width:150px;
  margin-top: 10px;
  padding: 10px;
}

/* Change logo on hover */
nav img:hover {
  border-radius: 10px;
  background-color: #efefd0;
}

main {
  margin-left:200px;
}

header {
  margin-left: 200px;
  font-family: September, 'Hero', Quicksand, sans-serif;
}

/* Show the user they are on the contact page */

#about {
  color: #efefd0;
}

/*Adjust placement and size for web*/

.img{
  background-color: #408cff;
  background-image: url('../assets/Paper_Texture.jpg');
  background-blend-mode: overlay;
  border: 2px solid #ff6b35;
  box-shadow: 0px 5px 10px inset;
  height:60vw;
  width:40vw;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  padding-left: 200px;
  font-family: 'Hero', Quicksand, sans-serif;
  height: 100px;
  color: #0a4194;
}

footer hr {
  border:1px solid #ff6b35;
  width:50vw;
}
