body{
  background-color: #f37b48;
}

h1 {
  font-family: Bangers, Hero, sans-serif;
  color:white;
}

h4{
  font-family: Bangers, Hero, sans-serif;
  color: #ffe29c;
}

img {

}

nav {
  background-color: #ffe29c;
  font-family: Hero, 'Nunito', sans-sans-serif;
  text-align: left;
  float:left;
  position: sticky;
  top:100px;
  border: 2px solid white;
  border-radius: 10px;
  display:inline-block;
  width:160px;
  height:200px;
  padding-left: 10px;
}
nav h2 {
  font-family: Bangers, ComicBook, sans-serif;
}
nav li {
  color: black;
}

div{
  margin-left: 180px;
}

.sectiondiv {
  padding-top:5px;
  font-family: Hero, sans-serif;
  color: white;
}

.sectiondiv li {
  color: #ffe29c;
}

.earlydiv {
  font-family: Hero, sans-serif;
  color:white;
}

#abilityheader {
    color: #ffe29c;
}

.triviadiv {
  font-family: Hero, sans-serif;
  color:white;
}

.triviadiv li{
  color: #ffe29c;
}
h3 {
  font-family: Hero, sans-serif;
}
