@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700&display=swap');

*{
  font-family: 'Nunito', Hero, sans-serif;
}

header {
  text-align:center;
  margin-left: 0px;
  background-color: rgba(0,0,0,0);
}

.parallax{
  background-image:url("../assets/dimension_defenders.png");
  min-height:350px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

nav {
  position:sticky;
  float:left;
  top:100px;
  height:200px;
  width:150px;
  border: 2px solid black;
  background-color: rgba(132, 219, 222,0.75);
  padding-left: 10px;
}

section {
  margin-left:175px;
}

.lists {
  margin-left:175px;
}
