header {
  text-align:center;
}

.parallax {
  background-image:url("../assets/dimension_defenders.png");
  min-height:350px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment: fixed;
}
