/* import hero font */

@font-face {
  font-family: "Hero";
  src:url('../assets/fonts/Hero/Hero.otf');
  font-style: normal;
}

@font-face {
  font-family: "Hero";
  src:url('../assets/fonts/Hero/Hero.otf');
  font-weight: lighter;
}

@font-face {
  font-family: "Hero";
  src:url('../assets/fonts/Hero/Hero.otf');
  font-weight: bold;
}

body {
  height: 100%;
  font-family: 'Hero', Quicksand, sans-serif;
  background-color: rgba(239,239,208,1);
  background-image: url("../assets/Paper_Texture.jpg");
  background-size:cover;
  background-blend-mode: overlay;
  background-position: center;
}

footer {
  clear:both;
  text-align:center;
  padding-top:50px;
  font-family:'Hero', Quicksand, sans-serif;
  color:#0a4194;
}

footer hr {
  border:1px solid #ff6b35;
  width:50vw;
}

.menu {
display: grid;
justify-content:center;
grid-template-columns: 30% 30%;
grid-template-rows: 60% 60%;
align-items: baseline;
}


.menu img {
  display:block;
  width: 25vw;
  height: auto;
}
 /*Remove underlines*/
a {
  text-decoration: none;
}

/*Set the opacity and ease of the overlays*/
.overlay{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width:100%;
  opacity: 0;
  font-family: 'Hero', Quicksand, sans-serif;
  font-weight:bold;
  transition: 0.5s ease;
}

/*Give each element a hover border*/
.T {
  display:block;
  margin-right: auto;
}

.T .overlay {
  position: inherit;
  text-align: center;
  color: #408cff;
}
.T:hover .overlay{
  opacity:1;
}

.O {
  display:block;
  margin-right: auto;
}

.O .overlay {
  position: inherit;
  text-align: center;
  color: #ff6b35;
}
.O:hover .overlay{
  opacity:1;
}

.A {
  display:block;
  margin-right: auto;
}

.A .overlay {
  position: inherit;
  text-align: center;
  color: #ff6b35;
}
.A:hover .overlay{
  opacity:1;
}

.N {
  display:block;
  margin-right: auto;
}

.N .overlay {
  position: inherit;
  text-align: center;
  color: #408cff;
}
.N:hover .overlay{
  opacity:1;
}

header {
  display:block;
  text-align: center;
  font-family: 'Hero', Quicksand, sans-serif;
}

.description {
  text-align: center;
  text-decoration: none;
  margin-top:10vh;
  font-family:'Hero', Quicksand, sans-serif;
  color: #ff6b35;
}

/* Style the side navigation */
nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #408cff;
    overflow-x: hidden;
}


/* Side navigation links */
nav a {
    font-family: 'Hero', Quicksand, sans-serif;
    font-weight:bold;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
nav a:hover {
    background-color: #f7c59f;
    color: #0a4194;
}

/* Change the size and alignment of the logo */
nav img{
  width:150px;
  margin-top: 10px;
  margin-left: auto;
  margin-right:auto;
  padding: 10px;
}

/* Change logo on hover */
nav img:hover {
  border-radius: 10px;
  background-color: #efefd0;
}
/*end nav code */

main {
  margin-left: 200px;
}

header h1{
  color: #408cff;
  text-decoration: underline;
}

/*About page*/
.aboutMain img {
  display:block;
  border: 5px solid #ff6b35;
  border-bottom-color:rgba(255, 107, 54, 0.5);
  border-left-color:rgb(255, 157, 54);
  border-right-color:rgb(255, 157, 54);
  box-shadow: 0px 3px 10px;
  height:30vw;
  margin-left: auto;
  margin-right: auto;
}

/* End About page*/

/* Organize the Portfolio Grid */

.portfolioGrid {
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 2%;
  grid-row-gap:7%;
  align-content:center;
  padding: 10px;
}

@media screen and (max-width:900px) {

  body{
    font-size: 120%;
  }

  .portfolioGrid{
    grid-template-columns:auto auto;
    justify-content: center;
    grid-column-gap:10%;
    grid-row-gap:7vh;
  }

  .grid-item {
    height:25vw;
    width:25vw;
  }

  #item5 {
    height:50vw;
    width:50vw;
  }

  #item12{
    height:50vw;
    width:50vw;
    grid-column:1/3;
    grid-row: 8/10;
  }

  /* Contact page changes */
  form {
    font-family: 'Hero', Quicksand, sans-serif;
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:65vw;
  }

  input {
    background-color:#efefd0;
    background-image: url('../assets/Paper_Texture.jpg');
    background-blend-mode: overlay;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:darkgrey;
    border: 2px solid black;
    border-radius: 15px;
    font-family: 'Hero', Quicksand, sans-serif;
    width:90%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom:10px;
    padding:10px;
  }

  input[type="submit"], input[type="reset"] {
    height: 50px;
    width:125px;
    padding:10px;
    margin-top: 5px;
    margin-bottom:5px;
    border: none;
    box-shadow: 0px 2px 5px black;
  }

  input[type="submit"]:hover, input[type="reset"]:hover {
    box-shadow:0px 2px 5px #408cff;
  }


  input[type="submit"] {
    background-color:#f7c59f;
    float: left;
    color:#0a4194;
  }

  input[type="reset"] {
    background-color:#0a4194;
    float:right;
    color:#f7c59f;
  }

  textarea {
    background-color:#efefd0;
    background-image: url('../assets/Paper_Texture.jpg');
    background-blend-mode: overlay;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    border: 2px solid black;
    border-radius: 15px;
    font-family: 'Hero', Quicksand, sans-serif;
    color:darkgrey;
    width:90%;
    margin-left: 4%;
    margin-right: 4%;
    padding:10px;
  }

  .contactInfo {
    display:block;
    padding:5px;
    margin-bottom:10px;
    clear:both;
    height: 300px;
    border-style: none;
    text-align: center;
  }
}

.grid-item {
  height: 15vw;
  width:15vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  text-align: center;
  font-size:90%;
  color:#ff6b35;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 10px black;
}

.grid-item p {
  margin-top:16vw;
  text-align: center;
}

.grid-item:hover{
  box-shadow: 0px 0px 10px #ff6b35;
}

#item1 {
  background-image: url('../assets/images/Clyde.jpg');
}

#item2 {
  background-image: url('../assets/images/Duglesworth_Marked.png');
}

#item3 {
  background-image: url('../assets/images/Typography.png');
}

#item4 {
  background-image: url('../assets/images/DoubleExposure.jpg');
}

#item5{
  background-image: url('../assets/images/dimension defenders final.png');
  background-position: left;
  height:30vw;
  width:30vw;
  grid-column:1/3;
  grid-row: 2/4;
}

#item5 p {
  margin-top: 32vw;
}

#item6 {
  background-image: url('../assets/images/Saam.png');
}

#item7 {
  background-image: url('../assets/images/GlowEffect2.jpg');
}

#item8 {
  background-image: url('../assets/images/Minimal_Soul.png');
}

#item9 {
  background-image: url('../assets/images/Minimal_Spiderman.png');
}

#item10 {
  background-image: url('../assets/images/Minimal_Oculus.png');
}

#item11 {
  background-image: url('../assets/images/Sunny.png');
}

#item12 {
  background-image: url('../assets/images/Nate_Delia_Pride.jpg');
  height:30vw;
  width:30vw;
}

/*Position Item12 for desktop */
@media screen and (min-width:900px) {
  #item12{
    grid-column:3/5;
    grid-row: 4/6;
  }
}

#item12 p {
  margin-top: 32vw;
}

#item13 {
  background-image: url('../assets/images/Amafrey_Marked.png');
}
/*End Portfolio Grid code*/

/* Organize the animation gallery */

.animationGrid {
  display:grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2%;
  grid-row-gap:2%;
  align-content:center;
  padding: 10px;
}


video{
  height:30vw;
  width:30vw;
  border-radius: 15px;
  background-color: #0a4194;
  box-shadow: 0px 5px 10px;
}

video:hover{
  box-shadow: 0px 0px 10px #ff6b35;
}

.animationGrid h2 {
  display: block;
  font-weight: lighter;
  width:30vw;
  text-align: center;
}

#spacer{
  height:20vw;
}
/*End Animation Gallery Code*/

/*Style Contact Page*/
.contactInfo h2 {
  text-decoration:underline;
}

/* Style Contact links */
.contactInfo a{
  text-decoration: none;
  color: #408cff;
}

/* Style Contact Link hovers */

.contactInfo a:hover{
  text-decoration: underline;
  color: #ff6b35;
}

@media screen and (min-width:900px) {
  .contactInfo {
    width: 45vw;
    float:left;
    height: 300px;
    left: 210px;
    top: 200px;
    width:15vw;
    text-align: center;
  }

  form {
    float:right;
    display:block;
    width:55vw;
    left:40vw;
    top:200px;
  }

  input {
    background-color:#efefd0;
    background-image: url('../assets/Paper_Texture.jpg');
    background-blend-mode: overlay;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    font-family: 'Hero', Quicksand, sans-serif;
    border: 2px solid black;
    border-radius: 15px;
    width:90%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom:10px;
    padding:5px;
  }

  input[type="submit"], input[type="reset"] {
    height: 50px;
    width:150px;
    padding:10px;
    margin-top: 5px;
    margin-bottom:5px;
    border:0px;
    box-shadow: 0px 2px 5px black;
  }

  input[type="submit"]:hover, input[type="reset"]:hover {
    box-shadow:0px 2px 5px #408cff;
  }

  input[type="submit"] {
    background-color:#f7c59f;
    float: left;
    color:#0a4194;
  }

  input[type="reset"] {
    background-color:#0a4194;
    float:right;
    color:#f7c59f;
  }

  textarea{
    background-color:#efefd0;
    background-image: url('../assets/Paper_Texture.jpg');
    background-blend-mode: overlay;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    border: 2px solid black;
    border-radius: 15px;
    font-family: 'Hero', Quicksand, sans-serif;
    color:darkgrey;
    width:90%;
    margin-left: 4%;
    margin-right: 4%;
    padding:5px;
  }
}

}
/*End contact Page Code*/
