/**import better Hero font...and Lato...jic**/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito&display=swap');

body {
  height: 100%;
  font-family: 'Nunito', Quicksand, sans-serif;
  background-color: rgba(239,239,208,1);
  background-image: url("../assets/Paper_Texture.jpg");
  background-size:cover;
  background-blend-mode: overlay;
  background-position: center;
}

header {
  margin-top:50px;
  display:block;
  text-align: center;
  font-family: 'Nunito', Quicksand, sans-serif;
}

footer {
  clear:both;
  text-align:center;
  padding-top:50px;
  font-family:'Nunito', Quicksand, sans-serif;
  color:#0a4194;
}

footer hr {
  border:1px solid #ff6b35;
  width:50vw;
}

.menu {
  margin-top:150px;
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
  align-items: baseline;
}

.topRow, .bottomRow {
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
  align-items: baseline;
}
.menu button {
  display:block;
  height:300px;
  width:300px;
  border:none;
  background-color: rgba(0,0,0,0);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-grow:1;
}
 /*Remove underlines*/
a{
  text-decoration: none;
}

/*Set the opacity and ease of the overlays*/
.overlay{
  height: 100%;
  width:100%;
  opacity: 0;
  font-family: 'Nunito', Quicksand, sans-serif;
  font-size: 100%;
  font-weight:bold;
  transition: 0.5s ease;
}

/*Give each element a hover border*/
.t {
  cursor:pointer;
  background-image: url("../assets/Toan_Logo_T.png");
  margin-right: auto;
}

.t .overlay {
  text-align: center;
  color: #408cff;
}
.t:hover .overlay{
  opacity:1;
}

.o {
  cursor:pointer;
  background-image: url("../assets/Toan_Logo_O.png");
  margin-right: auto;
}

.o .overlay {
  text-align: center;
  color: #ff6b35;
}
.o:hover .overlay{
  opacity:1;
}

.a {
  cursor:pointer;
  background-image: url("../assets/Toan_Logo_A.png");
  margin-right: auto;
}

.a .overlay {
  text-align: center;
  color: #ff6b35;
}
.a:hover .overlay{
  opacity:1;
}

.n {
  cursor:pointer;
  background-image: url("../assets/Toan_Logo_N.png");
  margin-right: auto;
}

.n .overlay {
  text-align: center;
  color: #408cff;
}

.n:hover .overlay{
  opacity:1;
}


.description {
  text-align: center;
  text-decoration: none;
  margin-top:10vh;
  font-family:'Nunito', Quicksand, sans-serif;
  color: #ff6b35;
}

/*Style nav Icon for mobile*/
.navIcon {
  position:sticky;
  float:right;
  top:15px;
  border:none;
  border-radius:50%;
  background-image: url("../assets/Menu_Button.png");
  background-color: #408cff;
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px;
  width:50px;
  height:50px;
  margin:10px;
}

/* Style the side navigation */
nav {
    display: block;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #408cff;
    overflow-x: hidden;
}

/* Side navigation links */
nav button{
    cursor:pointer;
    font-family: 'Nunito', Quicksand, sans-serif;
    font-weight:bold;
    text-decoration: none;
    width:200px;
    border:none;
    background-color: rgba(0,0,0,0);
    font-size: 100%;
    padding: 15px;
}

nav a{
  color:black;
}

/* Change color on hover */
nav button:hover {
    background-color: #f7c59f;
    color: #0a4194;
}

nav .close, .navIcon{
  display:none;
}

/* Change the size and alignment of the logo */
.homeLogo{
  background-image: url("../assets/Toan_Logo_Square_Black.png");
  background-size: 170px, 170px;
  background-repeat: no-repeat;
  background-position: center;
  height:180px;
  color:rgba(0, 0, 0, 0);
  margin-top:10px;
}

/* Change logo on hover */
.homeLogo:hover {
  background-image: url("../assets/Toan_Logo_Square_Color.png");
  background-size: 210px,210px;
  border-radius: 10px;
  color:rgba(0, 0, 0, 0);
  background-color: #efefd0;
}
/*end nav code */

main {
  margin-left: 200px;
}

header h1{
  color: #408cff;
  text-decoration: underline;
}

/*About page*/

.flexParent {
  display:flex;
  justify-content: space-around;
}

#toanPhoto {
  position: sticky;
  top:11vh;
  border: 5px solid #ff6b35;
  border-bottom-color:rgba(255, 107, 54, 0.5);
  border-left-color:rgb(255, 157, 54);
  border-right-color:rgb(255, 157, 54);
  box-shadow: 0px 0px 10px;
  height:30%;
  width:30%;
}

.aboutMain section {
  width:50%;
}

/* End About page*/

/* Organize the Portfolio Grid */

.portfolioGrid {
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 2vw;
  grid-row-gap:7vw;
  align-content:center;
  padding: 10px;
}


.grid-item {
  cursor:pointer;
  height:15vw;
  width: 15vw;
  text-align: center;
  border-radius: 50%;
  font-size:90%;
  color:#ff6b35;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 2px 10px black;
  transition: 0.4s;
}

.grid-item img {
  display:none;
  align-content: center;
  width:100%;
}

.grid-item p{
  color: #ff6b35;
  font-family: 'Nunito', Quicksand, sans-serif;
  margin-top:16vw;
}


.big-item {
  height:32vw;
  width:32vw;
}

.big-item p {
  margin-top: 33vw;
}

.grid-item:hover{
  opacity:0.8;
  box-shadow: 0px 0px 10px #ff6b35;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(10,65, 148); /* Fallback color */
  background-color: rgba(10, 65, 148, 0.9); /* Dark w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #efefd0;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.4s;
}

@keyframes zoom {
  0% {transform:scale(0)}
  75% {transform:scale(1.10)}
  100% {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f7c59f;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #ff6b35;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
#item1 {
  background-image: url('../assets/images/DUO Stationary.png');
}

#item2 {
  background-image: url('../assets/images/Venom Let There Be Carnage Poster.png');
}

#item3 {
  background-image: url('../assets/images/Sunny.png');
}

#item4 {
  background-image: url('../assets/images/Autumn Advantage Magazine.png');
}


#item5{
  background-position: left;
  background-image: url('../assets/images/dimension defenders.png');
  grid-column:1/3;
  grid-row: 2/4;
}

#item6 {
  background-image: url('../assets/images/MCI_Stationery_Mockup.png');
}

#item7 {
  background-image: url('../assets/images/ProjectPowerPoster.png');
}

#item8 {
  background-image: url('../assets/images/Minimal_Soul.png');
}

#item9 {
  background-image: url('../assets/images/Minimal_Spiderman.png');
}

#item10 {
  background-image: url('../assets/images/SGG Van Left.png');
}

#item11 {
  background-image: url('../assets/images/FlavorsPizza_Mockup.png');
}

#item12 {
  background-image: url('../assets/images/Nate_Delia_Pride.jpg');
}

/*Position Item12 for desktop */
@media screen and (min-width:900px) {
  #item12{
    grid-column:3/5;
    grid-row: 4/6;
  }
}


#item13 {
  background-image: url('../assets/images/Varis_Marked.png');
}

#item14 {
  background-image:url('../assets/images/Yins_Dance.png');
}
/*End Portfolio Grid code*/

/* Organize the animation gallery */

.animationGrid {
  display:grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2%;
  grid-row-gap:2%;
  align-content:center;
  padding: 10px;
}


video{
  height:30vw;
  width:30vw;
  border-radius: 15px;
  background-color: #0a4194;
  box-shadow: 0px 5px 10px;
  transition:0.4s;
}

video:hover{
  box-shadow: 0px 0px 10px #ff6b35;
}

.animationGrid h2 {
  display: block;
  font-weight: lighter;
  width:30vw;
  text-align: center;
}

#spacer{
  height:20vw;
}
/*End Animation Gallery Code*/

/*Style Contact Page*/
.contactInfo h2 {
  text-decoration:underline;
}

/* Style Contact links */
.contactInfo a{
  text-decoration: none;
  color: #408cff;
}

/* Style Contact Link hovers */

.contactInfo a:hover{
  text-decoration: underline;
  color: #ff6b35;
}

.fieldset {
  height:auto;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Portfolio Styling*/
* {
  box-sizing: border-box;
}
/*Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50vw;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #408cff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.4s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #0a4194;
  background-color: rgba(247, 197, 160, 0.8);
}

/* Caption text */
.text {
  color: #ff6b35;
  width: 100%;
  text-align: center;
}

/* Flex Details*/
.flex-parent{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*Process Images */
.process{
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgb(0,0,0,0.8);
  transition: 0.4s;
}

/* Details Text */
.details{
  padding-left: 1vw;
}

.details p{
  text-indent: 20px;
}

iframe{
  width:100%;
  height:80vw;
  margin-left:auto;
  margin-right: auto;
  border-radius: 5px;
  border:none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.8);
}
/*Padding for Screen Container*/
.screen-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #efefd0;
  font-size: 12px;
  font-family: 'Nunito', Quicksand, sans-serif;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #408cff;
  border-radius: 50%;
  display: inline-block;
  box-shadow: -1px 1px 3px #efefd0 inset;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ff6b35;
  box-shadow: 1px -1px 3px #efefd0 inset;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Tablet display & Phone display*/
@media only screen and (max-width:1050px) {

  body{
    font-size: 120%;
  }

  /*Mobile Gallery*/
  .portfolioGrid{
    grid-template-columns:auto auto;
    justify-content: center;
    grid-column-gap:10%;
    grid-row-gap:7vh;
  }

  .grid-item {
    height:25vw;
    width:25vw;
  }

  .grid-item p {
    margin-top:26vw;
  }

  .big-item {
    height:50vw;
    width:50vw;
  }

  .big-item p {
    margin-top:53vw;
  }

  #item12{
    grid-column:1/3;
    grid-row: 8/10;
  }
  /*End mobile Gallery*/

  /*About mobile page*/

  .flexParent {
    flex-direction: column;
    align-items:center;
  }
  #toanPhoto{
    position: static;
  }
  .aboutMain section {
    width:70%;
  }

  .aboutMain section h2{
    text-align: center;
  }

  /* End About mobile page*/

  /*Moblie Contact Page*/
  form {
    font-family: 'Nunito', Quicksand, sans-serif;
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:65vw;
  }

  label{
    color:#ff6b35;
  }

  input {
    background-color:#efefd0;
    background-image: url('../assets/Paper_Texture.jpg');
    background-blend-mode: overlay;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    border: 2px solid black;
    border-radius: 15px;
    font-family: 'Nunito', Quicksand, sans-serif;
    width:90%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom:10px;
    padding:10px;
  }

  input[type="submit"], input[type="reset"] {
    height: 50px;
    width:125px;
    padding:10px;
    margin-top: 5px;
    margin-bottom:5px;
    border: none;
    box-shadow: 0px 2px 5px black;
  }

  input[type="submit"]:hover, input[type="reset"]:hover {
    box-shadow:0px 2px 5px #408cff;
  }


  input[type="submit"] {
    background-color:#f7c59f;
    float: left;
    color:#0a4194;
  }

  input[type="reset"] {
    background-color:#0a4194;
    float:right;
    color:#f7c59f;
  }

  textarea {
    background-color:#efefd0;
    background-image: url('../assets/Paper_Texture.jpg');
    background-blend-mode: overlay;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    border: 2px solid black;
    border-radius: 15px;
    font-family: 'Nunito', Quicksand, sans-serif;
    width:90%;
    margin-left: 4%;
    margin-right: 4%;
    padding:10px;
  }

  .contactInfo {
    display:block;
    padding:5px;
    margin-bottom:10px;
    clear:both;
    height: 300px;
    border-style: none;
    text-align: center;
  }
  /*End mobile Contact Page */
}

/*Phone display*/
@media only screen and (max-width:500px) {
  nav {
    display:none;
    width:100%;
    background-color: rgba(64, 140, 255, 1.0);
    animation-name: zoom;
    animation-duration: 0.4s;
  }

  nav .close {
    display:block;
  }

  nav button{
    width:100%;
  }

  .homeLogo {
    color:black;
    background-image:none;
    height:auto;
    margin-top: 100px;
  }

  .homeLogo:hover{
    background-image:none;
    background-color: #f7c59f;
    color: #0a4194;
    border-radius: 0px;
  }

  .navIcon {
    display: block;
  }

  main {
    margin-left: 0px;
    margin-right:50px;
  }
}

/*dsiplay Contact Page for Desktop */
@media screen and (min-width:1051px) {
  .contactInfo {
    width: 45vw;
    float:left;
    height: 300px;
    left: 210px;
    top: 200px;
    width:15vw;
    text-align: center;
  }

  form {
    float:right;
    display:block;
    width:55vw;
    left:40vw;
    top:200px;
  }

  label{
    color:#ff6b35;
  }

  input {
    background-color:#efefd0;
    background-image: url('../assets/Paper_Texture.jpg');
    background-blend-mode: overlay;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    font-family: 'Nunito', Quicksand, sans-serif;
    border: 2px solid black;
    border-radius: 15px;
    width:90%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom:10px;
    padding:5px;
  }

  input[type="submit"], input[type="reset"] {
    height: 50px;
    width:150px;
    padding:10px;
    margin-top: 5px;
    margin-bottom:5px;
    border:0px;
    box-shadow: 0px 2px 5px black;
  }

  input[type="submit"]:hover, input[type="reset"]:hover {
    box-shadow:0px 2px 5px #408cff;
  }

  input[type="submit"] {
    background-color:#f7c59f;
    float: left;
    color:#0a4194;
  }

  input[type="reset"] {
    background-color:#0a4194;
    float:right;
    color:#f7c59f;
  }

  textarea{
    background-color:#efefd0;
    background-image: url('../assets/Paper_Texture.jpg');
    background-blend-mode: overlay;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    border: 2px solid black;
    border-radius: 15px;
    font-family: 'Nunito', Quicksand, sans-serif;
    width:90%;
    margin-left: 4%;
    margin-right: 4%;
    padding:5px;
  }
}

}
